@page
@model Web.Pages.Students.IndexModel
@{
}
<a asp-page="/Students/Create">New Students</a>
<div class="table-responsive py-2">
    @{
        <table class="table table-striped hover" id="studentsTable" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Phno</th>
                    <th>Email</th>
                    <th>Nrc</th>
                    <th>Dob</th>
                    <th>Address</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.students)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PhNo</td>
                        <td>@item.Email</td>
                        <td>@item.Nrc</td>
                        <td>@item.Dob</td>
                        <td>@item.Address</td>
                        <td><img src="@item.ImageSrc" alt="@item.Name" width="50" height="50" /></td>
                        <td><a asp-page="./Create" asp-route-id="@item.Id" >Edit</a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
    
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#studentsTable').DataTable({
                createdRow: function (row, data, index) {
                    //if (data[5].replace(/[\$,]/g, '') * 1 > 150000) {
                    //    $('td', row).eq(0).addClass('highlight');
                    //}
                    $('td',row).eq(0).addClass('highlight');
                },
            });
        });
    </script>
}